<div class="container">
  <h2 class="title-md">Изменение вопроса №<%= @question.id %></h2>
  <p class="text-md mb-md">для <%= link_to link_name(@user), @user %></p>
  <%= render 'alarm', question: @question %>

  <%= render 'form', question: @question %>
</div>
