<div class="container">
  <h2 class="title-lg mb">Вопросы</h2>

  <%= render @questions.order("created_at desc") %>

  <h2 class="title-sm mt">Создайте свой вопрос:</h2>

  <p class="mt">
    <%= render 'form', question: @question %>
  </p>

  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </p>
</div>
