<div class="container">
  <h2 class="title-md">Вы спрашиваете...</h2>
  <p class="text-md mb-md">у <%= link_to link_name(@user), @user %></p>

  <%= render 'alarm', question: @question %>

  <%= render 'form', question: @question %>
</div>
