<% border_class = "users-box-user-bd#{user.id % 5}" %>

<div class="users-box-user <%= border_class %> rounded mr ml">
  <a href="<%= user_path(user) %>">
    <%= image_tag user.gravatar_url, title: link_name(user), class: "rounded" %>
  </a>
</div>
