body {
  color: #03071E;
  font-family: 'Trebuchet MS', sans-serif;
}

a, button {
  color: #DC2F02;
}

.message {
    border-radius: 5px;
    
    padding-left: 5%;
}
.message-alert {
    background-color: #DC2F02;
    color: #eeeeee;
}
.message-notice {
    background-color: #FEE9C3;
    color: #000000;
}


.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-hidden {
    opacity: 50%;
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}
